    <div class="w-full bg-white rounded p-8 m-4">
    <div class="text-center">
        <i class="fas fa-pencil-alt text-yellow-800 text-4xl"></i>
        </div>
        <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6 border-b-300 border-yellow-600 pb-3 mt-3">メモ編集</h1>
        <%= form_with model: @movie, url: user_movie_path(@user, @movie), class: 'text-black', local: true do |edit_movie| %>
        <%= render 'jas/shared/error_messages', object: @movie %>
            <div class="flex flex-col mb-4">
            <%= edit_movie.text_field :time, class: 'border py-2 px-3', placeholder: '時間（分）を入力してください' %>
            </div>
            <div class="flex flex-col mb-4">
            <%= edit_movie.text_area :memo, class: 'border py-2 px-3', placeholder: 'メモを加えてください', style: 'height: 150px; resize: none;' %>
            </div>
            <div class="flex flex-col mb-4">
            <%= edit_movie.file_field :image, class: 'border py-2 px-3' %>
            </div>
            <div class="flex justify-center gap-2">
            <div class="w-1/2">
              <%= link_to "削除", user_movie_path(@user, @movie), method: :delete, data: { confirm: 'Are you sure?' }, class: 'w-full block bg-red-500 hover:bg-red-700 text-white uppercase text-lg mx-auto p-3 rounded text-center' %>
            </div>
            <div class="w-1/2">
              <%= edit_movie.submit '更新', class: 'w-full block bg-blue-500 hover:bg-blue-700 text-white uppercase text-lg mx-auto p-3 rounded cursor-pointer' %>
            </div>
            </div>
            <%= link_to "戻る", user_path(@user), class: 'w-full block bg-gray-500 hover:bg-gray-700 text-white uppercase text-lg mx-auto p-3 rounded text-center mt-5' %>
        <% end %>
    </div>
